## wordsim-353

In [71]:
import pandas as pd

In [72]:
wordsim_353 = pd.read_csv("./EnglishWordSimilarityDataset/wordsim353/combined.csv")
print(wordsim_353.shape)
wordsim_353.head()

(353, 3)

     Word 1    Word 2  Human (mean)
0      love       sex          6.77
1     tiger       cat          7.35
2     tiger     tiger         10.00
3      book     paper          7.46
4  computer  keyboard          7.62

In [73]:
wordsim_353.columns = ["word1", "word2", "score"]
wordsim_353.to_csv("./EnglishWordSimilarityDataset/wordsim_353.csv", index=False)

In [74]:
path_for_wordsim353 = "./EnglishWordSimilarityDataset/wordsim_353.csv"
wordsim_353 = pd.read_csv(path_for_wordsim353)
wordsim_353.head()

      word1     word2  score
0      love       sex   6.77
1     tiger       cat   7.35
2     tiger     tiger  10.00
3      book     paper   7.46
4  computer  keyboard   7.62

## SimLex-999

In [75]:
import pandas as pd
import requests
from six import StringIO, BytesIO
from zipfile import ZipFile

In [76]:
url = "https://www.cl.cam.ac.uk/~fh295/SimLex-999.zip"
filename = 'SimLex-999/SimLex-999.txt'

In [77]:
simlex = pd.read_csv(ZipFile(BytesIO(requests.get(url).content)).open(filename), sep='\t')
print(simlex.shape)
simlex.head()

(999, 10)

,word1,word2,POS,SimLex999,conc(w1),conc(w2),concQ,Assoc(USF),SimAssoc333,SD(SimLex)
0,old,new,A,1.58,2.72,2.81,2,7.25,1,0.41
1,smart,intelligent,A,9.20,1.75,2.46,1,7.11,1,0.67
2,hard,difficult,A,8.77,3.76,2.21,2,5.94,1,1.19
3,happy,cheerful,A,9.55,2.56,2.34,1,5.85,1,2.18
4,hard,easy,A,0.95,3.76,2.07,2,5.82,1,0.93

In [78]:
simlex = simlex[["word1", "word2", "SimLex999"]]
simlex.columns = ["word1", "word2", "score"]
simlex.to_csv("./EnglishWordSimilarityDataset/simlex_999.csv", index=False)

In [79]:
path_for_simlex999 = "./EnglishWordSimilarityDataset/simlex_999.csv"
simlex_999 = pd.read_csv(path_for_simlex999)
simlex_999.head()

   word1        word2  score
0    old          new   1.58
1  smart  intelligent   9.20
2   hard    difficult   8.77
3  happy     cheerful   9.55
4   hard         easy   0.95

## Card-660
- https://pilehvar.github.io/card-660/

In [80]:
path_for_card660 = "./EnglishWordSimilarityDataset/card_660.tsv"
card_660 = pd.read_csv(path_for_card660, sep="\t", names=["word1", "word2", "score"])
card_660.head()

         word1            word2  score
0      Pokemon  Pocket_Monsters   3.81
1    prejudice       chauvinist   2.25
2  formic_acid      arachnology   1.19
3   NetMeeting      Marwar_Hall   0.00
4     kingfish         kingship   0.31

In [81]:
card_660.to_csv("./EnglishWordSimilarityDataset/card_660.csv", index=False)

In [82]:
path_for_card660 = "./EnglishWordSimilarityDataset/card_660.csv"
card_660 = pd.read_csv(path_for_card660)
card_660.head()

         word1            word2  score
0      Pokemon  Pocket_Monsters   3.81
1    prejudice       chauvinist   2.25
2  formic_acid      arachnology   1.19
3   NetMeeting      Marwar_Hall   0.00
4     kingfish         kingship   0.31